<html>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="center">
    <h2>About us</h2>
    <p>click the button to see the change.</p>
    <p><button class="button" [style.background]="islight?'grey' : 'black'" (click)="color()"> {{Text}}</button></p>
</div>
    <h3 class="p1">OUR TEAM</h3>
    <div class="row">
        <div class="column">
          <div class="card">
            <img [src]="img2" alt="elsa" class="img2">
            <div class="container" [style.background]="islight ? 'white' : 'black'" [style.color]="islight ? 'black' : 'white'"  >
              <h2> {{student1}}</h2>
              <p class="title">{{title1}}</p>
              <p>{{inf1}} </p>
              <p>{{mail1}}</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img [src]="img1" alt="anna" class="img2">
            <div class="container" [style.background]="islight ? 'white' : 'black'" [style.color]="islight ? 'black' : 'white'" >
              <h2>{{student2}}</h2>
              <p class="title">{{title2}}</p>
              <p>{{inf2}}</p>
              <p>{{mail2}}</p>
              
            </div>
          </div>
        </div>
    </div>

    </html>
