<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px;">
  <span class="fs-4">Choose :</span>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
    <li>
      <button (click)="changeToAll()" class="nav-link link-dark" type="button" class="btn btn-link">
        All
      </button>
    </li>
     <li>
      <button (click)="changeToStarters()" class="nav-link link-dark" type="button" class="btn btn-link">
        Starters
      </button>
    </li>
    <li>
      <button (click)="changeToSalads()" class="nav-link link-dark" aria-current="page" type="button" class="btn btn-link">
        Salads
      </button>
      
    </li>
    <li>
      <button (click)="changeToMain()" class="nav-link link-dark" type="button" class="btn btn-link">
        Main
      </button>
    </li>
  </ul>
</div>
