
<div class="col-3" style="margin:auto; padding:3%;">
<form  [formGroup]="loginform" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" placeholder="Enter email" formControlName="email" required email >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" formControlName="password" required>
    </div> 
   <button type="submit" class="btn btn-primary" [disabled]="!loginform.valid" >Submit</button>
    <a  routerLink="../register" value="register">Register </a>
    <br>
    <br>
  </form>
</div>
